{% extends "base.html" %}

{% block content %}
    <h1 Style="font-weight: bold;"> 404 potatoes on the wall 404 potatoes, take one down pass it around, 403 potatoes of potatoes on the wall.
         403 potatoes on the wall 403 potatoes, take one down pass it around, 402 potatoes of potatoes on the wall.
         402 potatoes on the wall 402 potatoes, take one down pass it around, 401 potatoes of potatoes on the wall.
         401 potatoes on the wall 401 potatoes, take one down pass it around, 400 potatoes of potatoes on the wall.
         400 potatoes on the wall 400 potatoes, take one down pass it around, 399 potatoes of potatoes on the wall.
         399 potatoes on the wall 399 potatoes, take one down pass it around, 398 potatoes of potatoes on the wall.
         398 potatoes on the wall 398 potatoes, take one down pass it around, 397 potatoes of potatoes on the wall.
         397 potatoes on the wall 397 potatoes, take one down pass it around, 396 potatoes of potatoes on the wall.
         396 potatoes on the wall 396 potatoes, take one down pass it around, 395 potatoes of potatoes on the wall.
         395 potatoes on the wall 395 potatoes, take one down pass it around, 394 potatoes of potatoes on the wall.
    </h1>
{% endblock %}
